<!--
<!DOCTYPE html>
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<!-- bootstrap datepicker -->
<link rel="stylesheet" href="assets/plugins/datatables/dataTables.bootstrap.css">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Devices
        <small>Last Updated {{updated | date:"h:mm:ss a"}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Device List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">

                        <!-- Search Box -->
                        <div class="input-group input-group-sm pull-left" style="width: 250px;">
                            <input ng-model="devSearch" type="text" name="table_search" class="form-control pull-left" placeholder="Search" >
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>

                        <!-- Action Buttons -->
                        <button id="addDevice" type="submit" class="btn btn-success btn-sm pull-right"><i class="fa fa-plus"></i> Add Device</button>

                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="id">Status&nbsp;<a ng-click="sort_by('id')"><i class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th class="name">Name&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
                                    <th class="description">Description&nbsp;<a ng-click="sort_by('description')"><i class="icon-sort"></i></a></th>
                                    <th class="field3">Field 3&nbsp;<a ng-click="sort_by('field3')"><i class="icon-sort"></i></a></th>
                                    <th class="field4">Field 4&nbsp;<a ng-click="sort_by('field4')"><i class="icon-sort"></i></a></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in pagedItems[currentPage] | orderBy:sortingOrder:reverse">
                                    <td><span class="label label-success">{{item.id}}</span></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.description}}</td>
                                    <td>{{item.field3}}</td>
                                    <td>{{item.field4}}</td>
                                    <td>{{item.field5}}</td>
                                </tr>
                            </tbody>

                            <!-- For paging
                            <tfoot>
                            <td colspan="6">
                                <div class="pagination pull-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Next »</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            </tfoot>
                            -->

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>





        <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"></h3>
                    <!-- ACTION BUTTONS -->
                    <button id="addDevicesss" type="submit" class="btn btn-success btn-xs pull-right"><i class="fa fa-plus"></i> Add Device</button>

                </div>
                <!-- /.box-header -->
                <form role="form" class="form-horizontal">
                <div class="box-body">
                    <div class="col-sm-12">

                        <div class="alert alert-info">
                            <p>Sort Type: {{ devSortType }}</p>
                            <p>Sort Reverse: {{ devSortReverse }}</p>
                            <p>Search Query: {{ devSearch }}</p>
                        </div>




                        <table id="devTable" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th ng-click="sort('id')">Id
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='id'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('first_name')">First Name
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='first_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('last_name')">Last Name
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='last_name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                    <th ng-click="sort('hobby')">Hobby
                                        <span class="glyphicon sort-icon" ng-show="sortKey=='hobby'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr dir-paginate="user in users|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                    <td>{{user.id}}</td>
                                    <td>{{user.first_name}}</td>
                                    <td>{{user.last_name}}</td>
                                    <td>{{user.hobby}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                </div>

                <!--
                <div class="box-footer">
                    <button id="cfgSNMPReset" type="submit" class="btn btn-default">Reset</button>
                    <button id="cfgSNMPSubmit" type="submit" class="btn btn-success pull-right">Save</button>
                </div>
                -->
                </form>
              </div>
            </div>
        </div>
        

        

        
        
    </section>
    <!-- /.content -->
    
    
    
    <!-- Page Specific Javascript - Form Processing -->
    <!-- datatables -->
    <script src="assets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>

    <script>
        function updateData(table){
            $('#deviceTable').DataTable( {
                "data": table.data,
                "columns": table.columns
            });
        }
/*
        $(document).ready(function() {
            $('#deviceTable').DataTable( {
                //"ajax": "/api/devices"
                "data": [["test","2",3,4,5,6],["test","2",3,4,5,6]],
                "columns": [{title:"Name"},{title:"Name"},{title:"a"},{title:"c"},{title:"v"},{title:"b"}]
            } );
        } );//*/
    </script>
        