
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Devices
        <small>Last Updated {{updated | date:"h:mm:ss a"}}</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Device List</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">
                    <div class="box-header">

                        <!-- Search Box -->
                        <div class="input-group input-group-sm pull-left" style="width: 250px;">
                            <span class="input-group-addon btn-info"><i class="fa fa-search"></i></span>
                            <input ng-model="devSearch" type="text" class="form-control" placeholder="Filter table..." >
                        </div>

                        <!-- Action Buttons -->
                        <button id="addDevice" type="submit" class="btn btn-success btn-sm pull-right" data-toggle="modal" data-target="#modalDevice"><i class="fa fa-plus"></i> Add Device</button>

                    </div>

                    <!-- /.box-header -->
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th width="40"><a href="" ng-click="sortBy('ping')">Status&nbsp;<i ng-show="sortKey==='ping'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('region')">Region&nbsp;<i ng-show="sortKey==='region'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('site')">Site&nbsp;<i ng-show="sortKey==='site'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('ip')">IP / Host&nbsp;<i ng-show="sortKey==='ip'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('name')">Name&nbsp;<i ng-show="sortKey==='name'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('type')">Type&nbsp;<i ng-show="sortKey==='type'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('vendor')">Vendor&nbsp;<i ng-show="sortKey==='vendor'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('model')">Model&nbsp;<i ng-show="sortKey==='model'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th><a href="" ng-click="sortBy('collectors')">Collectors&nbsp;<i ng-show="sortKey==='collectors'" class="glyphicon sort-icon" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></i></a></th>
                                    <th width="40">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in $parent.deviceData | orderBy:sortKey:reverse | filter:devSearch">
                                    <td><span class="label" ng-class="item.ping.status != 'up' ? 'label-danger' : (item.ping.ms < 500 ? 'label-success' : 'label-warning')" data-toggle="tooltip" title="{{ 'last updated ' + (item.ping.last_updated | date:'medium')}}">{{(item.ping.status=='up') ? item.ping.ms + ' ms' : item.ping.status}}</span></td>
                                    <td>{{item.region}}</td>
                                    <td>{{item.site}}</td>
                                    <td><a href="/devices/{{item.ip}}">{{item.ip}}</a></td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.type}}</td>
                                    <td>{{item.vendor}}</td>
                                    <td>{{item.model}}</td>
                                    <td>{{item.collectors.ping}}</td>
                                    <td><a href="" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i> Edit</a></td>

                                </tr>
                            </tbody>

                            <!-- For paging
                            <tfoot>
                            <td colspan="6">
                                <div class="pagination pull-right">
                                    <ul>
                                        <li ng-class="{disabled: currentPage == 0}">
                                            <a href ng-click="prevPage()">« Prev</a>
                                        </li>
                                        <li ng-repeat="n in range(pagedItems.length)"
                                            ng-class="{active: n == currentPage}"
                                            ng-click="setPage()">
                                            <a href ng-bind="n + 1">1</a>
                                        </li>
                                        <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                            <a href ng-click="nextPage()">Next »</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            </tfoot>
                            -->

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>


        
    </section>
    <!-- /.content -->


    <!-- Pop-up box -->
    <div id="modalDevice" class="modal modal-primary" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form ng-submit="postDevice()">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add / Edit Device</h4>
                    </div>
                    <div class="modal-body form-horizontal">

                        <div class="alert alert-danger" ng-show="postStatus=='Error'"><strong>{{postStatus}}</strong> {{postStatusMsg}}</div>
                        <div class="alert alert-warning" ng-show="postStatus=='Warning'"><strong>{{postStatus}}</strong> {{postStatusMsg}}</div>
                        <div class="alert alert-success" ng-show="postStatus=='Success'"><strong>{{postStatus}}</strong> {{postStatusMsg}}</div>


                        <div class="form-group" >
                            <label class="control-label col-sm-2">Hostname or IP *</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="device.ip" ng-change="devCheck()" placeholder="" required="required">
                                <span ng-show="devMsg"><i class="glyphicon glyphicon-info-sign"></i> {{devMsg}}</span>
                            </div>
                        </div>
                        <hr>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Region</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.region" placeholder="Americas, EMEA, APAC..."></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Site</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.site" placeholder="Name, Address, ID, etc..."></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Device Name *</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.name" placeholder="" required="required"></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Type</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.type" placeholder="Router, Switch, Firewall, etc..."></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Vendor</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.vendor" placeholder="Cisco, Check Point, Palo Alto, etc..."></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Model</label>
                            <div class="col-sm-10"><input type="text" class="form-control" ng-model="device.model" placeholder=""></div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Notes</label>
                            <div class="col-sm-10"><textarea rows="5" class="form-control" ng-model="device.notes" placeholder="Additional Information about this device"></textarea></div>
                        </div>



                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                        <img id="mySpinner" src="assets/images/loaders/ani_free_pacman.gif" ng-show="devLoading" />
                        <input type="submit" class="btn btn-success" value="Save">
                    </div>
                </form>
            </div>
        </div>

    </div>

    
    
    <!-- Page Specific Javascript - Form Processing -->

    <script>
        $(window).trigger('resize'); /* fix the layout so it takes up the full window */

    </script>
        